.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

img {
  display: inline-block;
  max-width: 100%;
}

.footer-thin-container {
  max-width: 1124px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.footer-thin-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: Montserrat, sans-serif;
}

.footer-thin-wrapper.footer-thin {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #2b2c2e;
  color: #e4e8eb;
}

.footer-thin-wrapper.footer-thin.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #000;
  color: #939596;
  font-size: 14px;
}

.copyright-text {
  text-align: center;
}

.nav-link {
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.nav-link-2 {
  display: inline-block;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 1;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.navigation-item {
  margin-right: 20px;
  margin-left: 20px;
  padding: 9px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 20px;
  background-color: rgba(112, 0, 0, 0.98);
  opacity: 1;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding: 80px 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.logo-image {
  display: block;
  margin-left: -22px;
  padding-left: 0px;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-contact-us {
  position: relative;
  z-index: 5;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.31);
  opacity: 1;
}

.section {
  max-width: none;
  min-width: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.section-2 {
  position: relative;
  left: -70px;
  right: -70px;
}

.body {
  margin-left: 0px;
  clear: left;
  background-image: url('../images/background2.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.intro-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  margin-bottom: -1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(24, 23, 24, 0.73);
  opacity: 1;
  -webkit-transition: opacity 275ms ease;
  transition: opacity 275ms ease;
  color: #fff;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.intro-content.cc-homepage {
  margin-bottom: 20px;
  padding-right: 138px;
  padding-left: 503px;
}

.intro-text {
  width: 80%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: -167px;
  padding-left: 0px;
}

.heading-jumbo {
  margin-top: -10px;
  margin-bottom: 10px;
  padding-right: 314px;
  padding-left: 0px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-white-light {
  opacity: 0.6;
}

.div-block {
  position: relative;
  display: block;
  width: 40%;
  height: 40%;
  background-color: #f02323;
}

.information-container {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  margin-top: -1px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-top: 1px solid transparent;
  background-color: rgba(24, 23, 24, 0.73);
  -o-object-fit: fill;
  object-fit: fill;
}

.information-container.class {
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  background-color: rgba(24, 24, 24, 0.73);
  box-shadow: none;
}

.information-container.kurione {
  border-top: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.73);
}

.centered-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1124px;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
}

.centered-container.horizontal-flex {
  max-width: 1280px;
  min-height: 350px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-top: 1px solid transparent;
}

.about-heading-wrapper {
  margin-right: 100px;
}

.about-big-heading {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  padding-right: 0px;
  padding-left: 101px;
  clear: left;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}

.about-content-wrapper {
  max-width: 700px;
  margin-left: 40px;
}

.about-subheading {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 1px;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: -159px;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #000;
}

.team-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
  font-weight: 400;
  text-align: left;
}

.team-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.team-block {
  margin-left: 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.team-image {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.team-content {
  margin-top: 40px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.member-name {
  margin-top: 0px;
  color: #000;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.team-paragraph {
  max-width: 300px;
  text-align: center;
}

.team-simple-section {
  margin-top: 250px;
  margin-bottom: 0px;
  background-color: #c4c4c4;
}

.team-image-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.member-title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.text-span {
  background-color: #fff;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-3 {
  margin-right: 0px;
  margin-left: -106px;
  padding-right: 12px;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-with-links-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  font-family: Montserrat, sans-serif;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.paragraph-tiny {
  color: #747474;
  font-size: 12px;
  line-height: 20px;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
  color: #fff7f7;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

.footer-item:active {
  opacity: 0.8;
}

.link-block {
  float: right;
  clear: none;
}

.link-block.back-to-top {
  position: -webkit-sticky;
  position: sticky;
  left: 14px;
  top: 88%;
  right: 1%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 5px;
  border-color: #fff8f8;
  border-radius: 50px;
  background-color: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.back-to-top-arrow {
  background-color: rgba(9, 9, 9, 0);
  font-family: 'Fa solid 900', sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
}

.team-contact-section {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 0px;
  border-top: 1px solid transparent;
  background-color: rgba(87, 42, 94, 0.8);
}

.layout-container {
  width: 100%;
  max-width: 1140px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 78px;
  font-family: Montserrat, sans-serif;
}

.section-heading-wrap {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.uppercase-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.uppercase-label.cc-light {
  opacity: 0.6;
}

.with-contact-heading {
  position: -webkit-sticky;
  position: sticky;
  left: auto;
  margin-top: -75px;
  margin-bottom: 11px;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-weight: 400;
}

.our-contacts {
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  grid-template-areas: ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.contact-team-pic {
  height: 150px;
  margin-bottom: 30px;
  background-color: #f4f4f4;
}

.contact-team-name-wrap {
  margin-bottom: 30px;
}

.paragraph-bigger-2 {
  margin-bottom: 10px;
  opacity: 1;
  color: #242424;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-light {
  opacity: 0.6;
  color: #242424;
}

.with-contact-divider {
  height: 1px;
  background-color: #eee;
}

.contact-team-details-wrap {
  margin-top: 30px;
}

.contact-email-link {
  margin-bottom: 5px;
  opacity: 0.6;
}

.contact-email-link:hover {
  opacity: 1;
}

.contact-email-link:active {
  opacity: 0.8;
}

.image {
  position: static;
  display: block;
  overflow: hidden;
  margin-top: -343px;
  margin-right: auto;
  margin-left: -201px;
  padding-left: 0px;
  float: left;
  clear: both;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-2 {
  position: -webkit-sticky;
  position: sticky;
  left: 1668px;
  bottom: 272px;
}

.image-3 {
  position: relative;
  left: -13px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  margin-bottom: 0px;
  float: right;
  text-align: left;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block {
  position: relative;
  margin-top: -185px;
  padding-top: 0px;
  padding-right: 384px;
  padding-left: 43px;
  clear: none;
  font-family: 'Licinia aged', sans-serif;
  font-size: 40px;
}

.text-block-2 {
  position: -webkit-sticky;
  position: sticky;
  margin-top: -185px;
  margin-right: -70px;
  margin-left: -92px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  clear: none;
  font-family: 'Licinia aged', sans-serif;
  font-size: 40px;
}

.image-4 {
  position: relative;
  top: 0px;
  overflow: hidden;
  height: 375px;
  max-height: 27%;
  max-width: 100%;
  margin-top: -66px;
  margin-bottom: -408px;
  margin-left: -202px;
  padding-top: 4px;
  padding-bottom: 0px;
  float: none;
  clear: both;
}

.image-4.centered-container {
  height: 400px;
  min-height: 400px;
  margin-top: -37px;
  margin-bottom: -410px;
  margin-left: -206px;
  padding-top: 0px;
  padding-bottom: 57px;
}

.image-5 {
  position: relative;
  overflow: hidden;
  margin-top: -349px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: right;
  border-top: 1px solid transparent;
}

.image-5.centered-container {
  min-height: 400px;
  margin-top: -393px;
}

.image-6 {
  position: -webkit-sticky;
  position: sticky;
  width: 256px;
  height: 256px;
  margin-right: -27px;
  margin-left: 89px;
  padding-right: 0px;
}

.image-7 {
  width: 1623px;
  height: 500px;
  max-width: none;
  margin-left: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-7.information-container {
  width: 1920px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-8 {
  width: 1920px;
  height: 400px;
}

.image-9 {
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.image-10 {
  margin-bottom: 0px;
  float: none;
  clear: both;
}

.image-11 {
  width: 1920px;
  max-width: 100%;
}

.image-12 {
  margin-right: 800px;
  padding-top: 17px;
  padding-right: 0px;
  padding-left: 0px;
}

.heading {
  margin-right: -3px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-13 {
  margin-right: 3px;
  margin-left: -12px;
  padding-left: 0px;
}

.image-14 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 174px;
}

.container {
  padding-right: 308px;
  padding-left: 0px;
}

.heading-2 {
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
}

.image-15 {
  position: relative;
  display: block;
  margin: auto auto 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: right;
  -o-object-fit: fill;
  object-fit: fill;
}

.mobilewrap {
  display: none;
}

.button-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: -159px;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(90, 0, 0);
  background-color: rgb(80, 0, 0);
  font-family: Oswald, sans-serif;
  letter-spacing: 3px;
}

.div-block-2 {
  position: relative;
  left: 0.8em;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

.div-block-3 {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

.text-block-12 {
  font-family: Oswald, sans-serif;
  color: snow;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

.text-block-13 {
  color: #fff;
}

.text-block-14 {
  color: #fff;
}

.tab-link-tab-2 {
  background-color: transparent;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-weight: 300;
}

.tab-link-tab-2.w--current {
  background-color: transparent;
  font-family: Oswald, sans-serif;
}

.tab-link-tab-1 {
  background-color: transparent;
  font-family: Oswald, sans-serif;
  font-weight: 200;
}

.tab-link-tab-1.w--current {
  background-color: transparent;
  font-weight: 300;
}

.tab-pane-tab-1 {
  left: auto;
  font-weight: 300;
}

.about-content-wrapper-copy {
  max-width: 20em;
  min-width: 40em;
  margin-left: 200px;
}

.tabs-menu {
  position: relative;
  left: 34%;
  top: 0%;
  right: 0%;
  bottom: auto;
  float: none;
  clear: none;
}

.tabs {
  top: auto;
}

.list {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.tab-pane-tab-2 {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.tabs-content {
  font-weight: 300;
}

@media screen and (min-width: 1920px) {
  .navigation-item.w--current {
    color: #fff;
    font-weight: 500;
  }

  .intro-header {
    margin-bottom: 0px;
  }

  .information-container {
    background-color: rgba(24, 23, 24, 0.73);
  }

  .information-container.kurione {
    background-color: rgba(0, 0, 0, 0.73);
  }

  .information-container.class {
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .about-big-heading {
    font-weight: 400;
  }

  .about-subheading {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .paragraph {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .link-block.back-to-top {
    position: fixed;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .back-to-top-arrow {
    border: 1px solid #000;
    border-radius: 20px;
  }

  .team-contact-section {
    margin-top: -80px;
    background-color: #8da3c0;
  }

  .image-4 {
    margin-top: -57px;
    margin-bottom: -400px;
    padding-top: 4px;
  }

  .image-7.information-container {
    width: 2300px;
    height: 550px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .image-11 {
    width: 2560px;
  }

  .image-14 {
    margin-right: auto;
    padding-right: 0px;
    padding-left: 473px;
  }

  .container {
    padding-right: 476px;
    padding-left: 0px;
  }

  .text-block-3 {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: 2px;
  }

  .image-15 {
    position: relative;
  }

  .link-block-2 {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 20px;
  }

  .button-4 {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
  }

  .div-block-2 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
  }

  .div-block-3 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
  }

  .text-block-12 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: 300;
  }

  .tab-link-tab-2 {
    font-family: Oswald, sans-serif;
  }

  .about-content-wrapper-copy {
    font-family: Oswald, sans-serif;
  }

  .tabs {
    font-weight: 300;
  }
}

@media screen and (max-width: 991px) {
  .footer-thin-container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .navigation-items {
    background-color: #fff;
  }

  .menu-icon {
    display: block;
    background-color: #fff;
  }

  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .navigation-item {
    padding: 15px 30px;
    background-color: #fff;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .navigation {
    display: none;
    padding: 25px 30px;
  }

  .navigation-wrap {
    background-color: #000;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button.cc-contact-us {
    display: none;
  }

  .menu {
    position: static;
    margin-left: 30px;
  }

  .intro-header {
    background-image: url('../images/Lights.jpg');
    background-position: 0px 0px;
    background-size: cover;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .intro-text {
    width: auto;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .centered-container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .centered-container.horizontal-flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .about-heading-wrapper {
    margin-left: 40px;
  }

  .about-subheading {
    font-weight: 400;
  }

  .team-heading {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .team-wrapper {
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .team-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .footer-with-links-wrap {
    display: none;
  }

  .our-contacts {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .image {
    display: none;
  }

  .image-3 {
    position: static;
    display: none;
  }

  .image-4 {
    display: none;
  }

  .image-5 {
    display: none;
  }

  .image-14 {
    padding-left: 0px;
  }

  .container {
    padding-right: 0px;
  }

  .section-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #272727;
    background-color: #000;
    text-align: center;
  }

  .section-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #272727;
    background-color: #000;
    text-align: center;
  }

  .section-5 {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #272727;
    background-color: #000;
    text-align: center;
  }

  .section-6 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #272727;
    background-color: #000;
    text-align: center;
  }

  .text-block-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #2b2b2b;
    background-color: #000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
  }

  .text-block-5 {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #2b2b2b;
    background-color: #000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
  }

  .text-block-6 {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #2b2b2b;
    background-color: #000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
  }

  .text-block-7 {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #2b2b2b;
    background-color: #000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
  }

  .mobilewrap {
    display: inline;
    margin-bottom: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .mobilewrap2 {
    margin-right: 20px;
    margin-left: 20px;
    padding: 9px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 20px;
    background-color: rgba(112, 0, 0, 0.98);
    opacity: 1;
    font-family: Oswald, sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .text-block-8 {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-indent: 0px;
  }

  .text-block-9 {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .text-block-10 {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .text-block-11 {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 767px) {
  .footer-thin-wrapper {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }

  .menu-icon {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    background-color: #fff8f8;
  }

  .logo-link {
    padding-left: 0px;
  }

  .navigation {
    padding: 20px 30px;
  }

  .navigation-wrap {
    background-color: #000;
  }

  .intro-content {
    width: 80%;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .centered-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .centered-container.horizontal-flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .paragraph {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-with-links-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .webflow-link {
    margin-bottom: 15px;
  }

  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .layout-container {
    text-align: center;
  }

  .paragraph-bigger-2 {
    font-size: 16px;
    line-height: 28px;
  }

  .image-4 {
    display: none;
  }

  .image-5 {
    display: none;
  }

  .image-14 {
    display: inline;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container {
    padding-right: 0px;
  }

  .heading-2 {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .section-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .section-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .section-5 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .section-6 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .link-block-3 {
    position: static;
  }

  .text-block-8 {
    color: #fff;
  }

  .text-block-9 {
    color: #fff;
  }

  .text-block-10 {
    color: #fff;
  }

  .text-block-11 {
    color: #fff;
  }
}

@media screen and (max-width: 479px) {
  .menu-icon {
    background-color: #000;
  }

  .navigation-item {
    background-color: #000;
    color: #000;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .navigation-wrap {
    background-color: #000;
  }

  .menu {
    margin-left: 15px;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .centered-container {
    display: none;
  }

  .centered-container.horizontal-flex {
    display: inline;
  }

  .about-heading-wrapper {
    margin-left: 0px;
  }

  .about-content-wrapper {
    margin-left: 0px;
  }

  .paragraph {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .team-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .text-span {
    background-color: #000;
    color: #000;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .footer-with-links-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .our-contacts {
    width: 90%;
  }

  .image-4 {
    display: none;
  }

  .image-5 {
    display: none;
  }

  .heading-2 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .grid {
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 0.25fr;
    grid-template-columns: 1fr 0.25fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .section-3 {
    background-color: #000;
  }

  .section-4 {
    background-color: #000;
  }

  .section-5 {
    background-color: #000;
  }

  .section-6 {
    background-color: #000;
  }

  .text-block-4 {
    padding: 15px 100px;
    font-family: Montserrat, sans-serif;
    color: #fff8f8;
    font-weight: 300;
  }

  .text-block-5 {
    padding: 15px 100px;
    color: #fff;
    font-weight: 300;
  }

  .text-block-6 {
    padding: 15px 100px;
    color: #fff;
    font-weight: 300;
  }

  .text-block-7 {
    padding: 15px 100px;
    color: #fff;
    font-weight: 300;
  }

  .text-block-14 {
    font-family: Oswald, sans-serif;
  }

  .about-content-wrapper-copy {
    margin-left: 0px;
  }

  .tabs-menu {
    left: 41%;
  }

  .tabs {
    left: -13.6em;
    font-size: 12px;
  }

  .list {
    font-size: 16px;
  }
}

#w-node-b99c1f61-c09d-0fd5-5c5d-91915fc6539d-b23d1d49 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b99c1f61-c09d-0fd5-5c5d-91915fc653aa-b23d1d49 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b99c1f61-c09d-0fd5-5c5d-91915fc653b7-b23d1d49 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-b99c1f61-c09d-0fd5-5c5d-91915fc653aa-b23d1d49 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-b99c1f61-c09d-0fd5-5c5d-91915fc653b7-b23d1d49 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Licinia aged';
  src: url('../fonts/Licinia-Aged.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Leaguespartan';
  src: url('../fonts/LeagueSpartan-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}